.backdrop{
    width: 100%;
    border-radius: 12px;
    border: none;
}
.infoBar {
    position: relative;
    color: white;
    top: -168px;
    display: flex;
    justify-content: space-between;
    background-color: #00000066;
    padding: 10px;
    width: 98%;
    border-radius: 17px;
}

.movieDetails {
    letter-spacing: 0.5px;
    text-transform: initial;
}

.titleAndTag {
    text-align: left;
}

.rating {
    padding: 56px;
    display: flex;
    flex-direction: column-reverse;
    font-size: x-large;
    font-weight: 600;
}