.movieItemWrapper {
    width: 100%;
    height: 400px;
}
.movieItemContainer {
    width: 93%;
}
.movieItemPoster {
    width: 100%;
    border-radius: 15px;
}
.movieItemTitle {
    display: flex;
    font-weight: bold;
}
.movieItemReleaseDate {
    display: flex;
    font-size: 0.7rem;
    color: #9c9c9c;
}